body {
  height: 100vh;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  margin: 0;
  padding: 2rem;
}
.leftContent {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
  border-radius: 0.3em;
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0 2em;
}

.rightContent {
  background-color: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: solid;
  border-radius: 0.3em;
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

Table {
  padding: 0.5em;
  text-align: left;
}

Table th {
  padding: 0 2em 0 0;
  margin-right: 0;
}

/* Table tbody tr:nth-child(even) {
  background: #CCC
} */

.navContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navButtons {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em;
  width: 10em;
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(52, 152, 219);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 2s linear infinite;
  margin: 1em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.avatarImg {
  cursor: pointer;
}

/* BUTTONS */

.button-23 {
  margin-top: 1em;
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 0.5em;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  outline: none;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  color: black;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #3498db;
  cursor: not-allowed;
  opacity: 1;
}

